<div class="container welcome-section d-flex justify-content-center align-items-center text-center">
  <div class="welcome-card p-4">
    <h1 class="fw-bold text-primary">Bem-vindo ao Sistema da Delegacia Civil</h1>

    <p class="lead mt-3">
      Juro, na condição de policial civil, 
      respeitar e aplicar a lei,
      na luta contra a criminalidade em prol da Justiça,
      arriscando a própria vida,
      se necessário for, 
      na defesa da sociedade e dos cidadãos
    </p>

    <p>
      
    </p>

    <button class="btn btn-primary btn-lg mt-4 w-100" (click)="navigateToLogin()">Acessar</button>
  </div>
</div>
