<div class="selector-wrapper d-flex justify-content-center align-items-center text-center">
  <div class="card futuristic-card p-4">
    <h1 class="fw-bold contact-title">
      <i class="bi bi-shield-check me-2"></i>Bem-vindo ao Sistema da Delegacia Civil
    </h1>

    <p class="lead mt-3">
      <em>
        Juro, na condição de policial civil, respeitar e aplicar a lei,<br>
        na luta contra a criminalidade em prol da justiça,<br>
        arriscando a própria vida, se necessário for,<br>
        na defesa da sociedade e dos cidadãos.
      </em>
    </p>

    <button class="btn btn-primary btn-lg mt-4 w-100 futuristic-btn" (click)="navigateToLogin()">
      Acessar o Sistema
    </button>
  </div>
</div>